/*575.98px*/
@media (max-width: 575.98px) {

    #header, #nav-bar, #main, .qualities, #register, #features, #how-it-works, #pricing, #footer {

        width: 100vw;

    }

    #header, #pricing {

        flex-direction: column;

    }

    #nav-bar, .logo {

        height: 32px;

    }
    
    #header, #nav-bar ul {

        padding: 0;

    }

    #nav-bar li {

        margin: 0 10px;

    }

    #register h2 {

        width: 95%;

        text-align: center;

        margin: 19.920px auto;

    }

    #email {

        max-width: 210px;
    
        width: 100%;
    
    }
    
    #submit {
    
        max-width: 140px;
    
        width: 100%;
    
    }

    .section-logos {

        width: 35vw;

    }

    .descriptions {

        width: 65vw;

    }

    .qualities p {

        width: 50vw;

        margin-top: 20px;

    }

    #video {

        max-width: 250px;

        width: 100%;
        height: 250px;

        display: flex;
        align-self: center;
    
        margin: 50px auto;
    
    }

    #pricing {

        width: 90vw;
        height: 1100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }

    .price-table {

        width: 100%;
    
    }

    #footer {

        width: 100vw;

        justify-content: center;
    
        padding: 20px 0;
    
    }

    #footer ul {

        padding: 0;
    
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    

}

@media (min-width: 768px) and (max-width: 991.98px) {



}